@use "sass:color";

$fond: #2b305a;
$fondInput: color.scale($fond, $lightness: -20%);
$bordureInput: color.scale($fond, $lightness: -40%);;
$ombreInterneInput: 25px rgba(0, 0, 0, .1);
$ombreInterneInputFocus: 25px rgba(0, 0, 0, .5);
$texteInput: #fff;
$placeholderInput: rgba(255, 255, 255, .5);
$fontTache: #eee;
$bordureTache: #ccc;